@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 33% 98%;
    --foreground: 215 40% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 40% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 40% 15%;
    --primary: 215 100% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 25% 95%;
    --secondary-foreground: 215 100% 34%;
    --muted: 215 25% 95%;
    --muted-foreground: 215 20% 50%;
    --accent: 19 100% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 215 100% 34%;
    --chart-1: 215 100% 34%;
    --chart-2: 19 100% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 215 100% 34%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 19 100% 51%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 215 90% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 90% 30%;
    --sidebar-ring: 19 100% 51%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid {
    background-image: linear-gradient(to right, hsl(var(--primary) / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--primary) / 0.1) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
    /* 40px */
  }

  @keyframes blink-twice {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink-twice {
    animation: blink-twice 1s ease-in-out infinite;
  }
}
